body{
    text-align:center;
}

nav{
    border: 5px solid black;
}
a{
    text-align:center;
}
red{
    background-color:lightcoral;
}
orange{
    background-color:lightsalmon;
}
yellow{
    background-color:lightyellow;
}
green{
    background-color:lightgreen;
}
blue{
    background-color:lightblue;
}
purple{
    background-color:lightpink;
}